<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>主体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93B9F96C1D10ECA800CE1504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93B9F9851D10ECA800CE1504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93B9F9901D10ECA800CE1504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
